.gradient-button {
	outline: none;
	border: none;
	color: #fff;
	background: linear-gradient(135deg, #6a11cb, #9f7aea);
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 2rem;
	transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s ease-in-out;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.gradient-button:hover {
	background: linear-gradient(135deg, #5b10b3, #8c65d6);
}
